<%- include('../partials/header') %>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">phone</th>
            <th scope="col">address</th>
            <th scope="col">city</th>
            <th scope="col">state</th>
            <th scope="col">country</th>
            <th scope="col">postalZip</th>
            <th scope="col">email</th>
            <th scope="col">company</th>
            <th scope="col">companyFunded</th>
            <th scope="col">team</th>
            <th scope="col">paid</th>
            <th scope="col">date</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
            <% attendees.forEach(function(attendee) { %>
                <tr>
                    <th scope="row"><%= attendee.id %></th>
                    <td><%= attendee.name %></td>
                    <td><%= attendee.phone %></td>
                    <td><%= attendee.address %></td>
                    <td><%= attendee.city %></td>
                    <td><%= attendee.state %></td>
                    <td><%= attendee.country %></td>
                    <td><%= attendee.postalZip %></td>
                    <td><%= attendee.email %></td>
                    <td><%= attendee.Company %></td>
                    <td><%= attendee.companyFunded %></td>
                    <td><%= attendee.team %></td>
                    <td><%= attendee.paid %></td>
                    <td><%= attendee.date %></td>
                    <td><%= attendee.title %></td>
                    <td>
                      <form action="/api/<%= attendee._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </td>
                </tr>
                <% }); %>
        </tbody>
      </table>
<%- include('../partials/footer') %>