<%- include('../partials/header') %>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/profile.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Contact</h5>
          <p class="card-text"><%= attendee[0].name %></p>
          <p class="card-text"><%= attendee[0].phone %></p>
          <p class="card-text"><%= attendee[0].city %>, <%= attendee[0].state %>, <%= attendee[0].country %> <%= attendee[0].postalZip %> </p>
          <p class="card-text"><%= attendee[0].email %></p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Update Company</h5>
          <p class="card-text">Current Company: <%= attendee[0].Company %></p>
          <form action="/api/show/<%= attendee[0].id %>" method="POST">
          <div class="form-inline">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="Company">
              <option selected>Choose Company...</option>
              <option value="Apple">Apple</option>
              <option value="Adobe">Adobe</option>
              <option value="Sony">Sony</option>
              <option value="Google">Google</option>
              <option value="NASA">NASA</option>
            </select>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
        </div>
        <hr>
        <div class="card-body"
        <form action="/api/<%= attendee[0]._id %>?_method=DELETE" method="POST">
          <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
      </form>
        <form action="/api/<%= attendee[0]._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
        </div>
      </div>
<%- include('../partials/footer') %>