<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/profile.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Contact</h5>
          <p class="card-text"><%= attendee[0].name %></p>
          <p class="card-text"><%= attendee[0].phone %></p>
          <p class="card-text"><%= attendee[0].city %>, <%= attendee[0].state %>, <%= attendee[0].country %> <%= attendee[0].postalZip %> </p>
          <p class="card-text"><%= attendee[0].email %></p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Update Company</h5>
          <p class="card-text">Current Company: <%= attendee[0].Company %></p>
          <form action="/api/show/<%= attendee[0].id %>" method="POST">
          <div class="form-inline">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="Company">
              <option selected>Choose Company...</option>
              <option value="Apple">Apple</option>
              <option value="Adobe">Adobe</option>
              <option value="Sony">Sony</option>
              <option value="Google">Google</option>
              <option value="NASA">NASA</option>
            </select>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
        </div>
      </div>
</body>
</html>