<%- include('../partials/header') %>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">phone</th>
            <th scope="col">address</th>
            <th scope="col">city</th>
            <th scope="col">state</th>
            <th scope="col">country</th>
            <th scope="col">postalZip</th>
            <th scope="col">email</th>
            <th scope="col">company</th>
            <th scope="col">companyFunded</th>
            <th scope="col">team</th>
            <th scope="col">paid</th>
            <th scope="col">date</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
            <% team_members.forEach(function(team_member) { %>
                <tr>
                    <th scope="row"><%= team_member.id %></th>
                    <td><%= team_member.name %></td>
                    <td><%= team_member.phone %></td>
                    <td><%= team_member.address %></td>
                    <td><%= team_member.city %></td>
                    <td><%= team_member.state %></td>
                    <td><%= team_member.country %></td>
                    <td><%= team_member.postalZip %></td>
                    <td><%= team_member.email %></td>
                    <td><%= team_member.Company %></td>
                    <td><%= team_member.companyFunded %></td>
                    <td><%= team_member.team %></td>
                    <td><%= team_member.paid %></td>
                    <td><%= team_member.date %></td>
                    <td><%= team_member.title %></td>
                </tr>
                <% }); %>
        </tbody>
      </table>
    
<%- include('../partials/footer') %>